
*{
    padding: 0;
    margin: 0;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.part1 {
    width: 100%;
    height: 70%;
   display: flex;
   align-items: center;
    justify-content: center;
    padding: 20px;


}
.part2 {
    color: white;
}

.container1 {
    width: 400px;
    height: 240px;
    background: url(images/girlgunres.jpg);
    
    background-image: contain;
    /* background-size: cover; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    padding: 15px;
    margin:15px;
    border-radius: 5px;
    
}
.container1 div {
    
    padding: 25px;
    
    
}

#login {
    display: flex;
    flex-direction: column;
    
}
#sign-up {
    display: flex;
    flex-direction: column;
    
}

#sign-up button{
    
    background-color: red;
}

.container1 button {
margin-top: 22px;
}

button {
    width: 80px;
    height: 30px;
    background-color: rgb(255, 196, 0);
    border: 2px solid white;
    border-radius : 5px;
    
    
}

h3 {
    padding-bottom: 25px;
}
h2{
    color: white;
}
input{
    height: 25px;
    text-indent: 10px;
    margin: 2px;
    opacity: .7;
}

/*PAGE 2*/

#listing {
    width: 340px;
    height: 340px;
    display:flex;
    position: relative;
    background-color: black;
    color:lime;
    border: 2px double gold;
    text-indent: 15px;

    
}

#listing li {
    padding-top: 10px;
    list-style-position: inside;
}
#user-entry, #add-item {
    width: 250px;
    background-color: black;
    border: 2px double gold;
    color:lime;
    margin-top: 5px;
    margin-bottom:5px;
}
#part1-1 {
    height: 90%;
}
#part2-1 {
    color:white;
}

/*PAGE 3*/

.container3 {
    width: 400px;
    height: 240px;
    background: url(images/girlright.jpg);
    
    background-image: contain;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    padding: 15px;
    margin:15px;
    border-radius: 5px;
    
}
.container3 div {
    
    padding: 25px;
    
    
}